# Project description

Credit has played a key role in the economy for centuries and some form of credit has existed since the beginning of commerce. We'll be working with financial lending data from [Lending Club](https://www.lendingclub.com/). Lending Club is a marketplace for personal loans that matches borrowers who are seeking a loan with investors looking to lend money and make a return. You can read more about their marketplace [here](https://www.lendingclub.com/company/about-us?).

Each borrower completes a comprehensive application, providing their past financial history, the reason for the loan, and more. Lending Club evaluates each borrower's credit score using past historical data and their own data science process to assign an interest rate to the borrower. The interest rate is the percent in addition to the requested loan amount the borrower has to pay back. You can read more about the interest rate that Lending Club assigns [here](https://www.lendingclub.com/loans/personal-loans/rates-fees). Lending Club also tries to verify all the information the borrower provides but it can't verify all of the information (usually for regulation reasons).

A higher interest rate means that the borrower is a risk and more unlikely to pay back the loan. While a lower interest rate means that the borrower has a good credit history and is more likely to pay back the loan. The interest rates range from 5.32% all the way to 30.99% and each borrower is given a [grade](https://www.lendingclub.com/investing/investor-education/interest-rates-and-fees) according to the interest rate they were assigned. If the borrower accepts the interest rate, then the loan is listed on the Lending Club marketplace.

Investors are primarily interested in receiving a return on their investments. Approved loans are listed on the Lending Club website, where qualified investors can browse recently approved loans, the borrower's credit score, the purpose for the loan, and other information from the application. Once they're ready to back a loan, they select the amount of money they want to fund. Once a loan's requested amount is fully funded, the borrower receives the money they requested minus the [origination](https://help.lendingclub.com/hc/en-us/articles/214463677) fee that Lending Club charges.

The borrower will make monthly payments back to Lending Club either over 36 months or over 60 months. Lending Club redistributes these payments to the investors. This means that investors don't have to wait until the full amount is paid off before they see a return in money. If a loan is fully paid off on time, the investors make a return which corresponds to the interest rate the borrower had to pay in addition to the requested amount. Many loans aren't completely paid off on time and some borrowers default on the loan.

While Lending Club has to be extremely savvy and rigorous with their credit modelling, investors on Lending Club need to be equally as savvy about determining which loans are more likely to be paid off. At first, you may wonder why investors put money into anything but low interest loans. The incentive investors have to back higher interest loans is, well, the higher interest! If investors believe the borrower can pay back the loan, even if he or she has a weak financial history, then investors can make more money through the larger additional amount the borrower has to pay.

Most investors use a portfolio strategy to invest small amounts in many loans, with healthy mixes of low, medium, and interest loans. In this project, we'll focus on the mindset of a conservative investor who only wants to invest in the loans that have a good chance of being paid off on time. To do that, we'll need to first understand the features in the dataset and then experiment with building machine learning models that reliably predict if a loan will be paid off or not.


Lending Club releases data for all of the approved and declined loan applications periodically on their [Website](https://www.lendingclub.com/investing/peer-to-peer).

In this project, we'll focus on approved loans data from 2007 to 2011, since a good number of the loans have already finished. You'll find the dataset in 'data/loans_2007.csv'.

You'll also find a [data dictionary](data/LCDataDictionary.xlsx) (in XLS format) which contains information on the different column names.

# Problem Statement

We would like to build a machine learning model that can accurately predict if a borrower will pay off their loan on time or not.

# Instructions

1. Read and explore the dataset.
2. Perform data cleaning tasks that are useful to model our problem.
3. Define what features we want to use and which column represents the target column we want to predict. 
4. Perform necessary data preparation to start training machine learning models.
5. 
    a. Make predictions about whether or not a loan will be paid off on time.

    b. Our objective is to fund enough loans that are paid off on time to offset our losses from loans that aren't paid
    off. An error metric will help us determine if our algorithm will make us money or lose us money. Select an error metric that will help us figure out when our model is performing well, and when it's performing poorly.
7. Evaluate your model.

## Importing The dataset

In [76]:
import numpy as np
import pandas as pd


data = pd.read_csv('data/loans_2007.csv')
data

C:\Users\Hp\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,72176,70868.0,2525.0,2525.0,225.0,36 months,9.33%,80.69,B,B3,...,82.03,May-2007,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42534,71623,70735.0,6500.0,6500.0,0.0,36 months,8.38%,204.84,A,A5,...,205.32,Aug-2007,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42535,70686,70681.0,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,...,156.39,Feb-2015,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42536,Total amount funded in policy code 1: 471701350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,Total amount funded in policy code 2: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
data.isnull().sum()

id                               0
member_id                        3
loan_amnt                        3
funded_amnt                      3
funded_amnt_inv                  3
term                             3
int_rate                         3
installment                      3
grade                            3
sub_grade                        3
emp_title                     2629
emp_length                    1115
home_ownership                   3
annual_inc                       7
verification_status              3
issue_d                          3
loan_status                      3
pymnt_plan                       3
purpose                          3
title                           16
zip_code                         3
addr_state                       3
dti                              3
delinq_2yrs                     32
earliest_cr_line                32
inq_last_6mths                  32
open_acc                        32
pub_rec                         32
revol_bal                        3
revol_util                      93
total_acc                       32
initial_list_status              3
out_prncp                        3
out_prncp_inv                    3
total_pymnt                      3
total_pymnt_inv                  3
total_rec_prncp                  3
total_rec_int                    3
total_rec_late_fee               3
recoveries                       3
collection_recovery_fee          3
last_pymnt_d                    86
last_pymnt_amnt                  3
last_credit_pull_d               7
collections_12_mths_ex_med     148
policy_code                      3
application_type                 3
acc_now_delinq                  32
chargeoff_within_12_mths       148
delinq_amnt                     32
pub_rec_bankruptcies          1368
tax_liens                      108
dtype: int64

In [78]:
dictionary = pd.read_excel('data/LCDataDictionary.xlsx')
dictionary.head()

            LoanStatNew                                        Description
0        acc_now_delinq  The number of accounts on which the borrower i...
1  acc_open_past_24mths         Number of trades opened in past 24 months.
2            addr_state  The state provided by the borrower in the loan...
3              all_util              Balance to credit limit on all trades
4            annual_inc  The self-reported annual income provided by th...

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          42538 non-null  object
 1   member_id                   42535 non-null  float64
 2   loan_amnt                   42535 non-null  float64
 3   funded_amnt                 42535 non-null  float64
 4   funded_amnt_inv             42535 non-null  float64
 5   term                        42535 non-null  object
 6   int_rate                    42535 non-null  object
 7   installment                 42535 non-null  float64
 8   grade                       42535 non-null  object
 9   sub_grade                   42535 non-null  object
 10  emp_title                   39909 non-null  object
 11  emp_length                  41423 non-null  object
 12  home_ownership              42535 non-null  object
 13  annual_inc                  42531 non-null  float64
 14  verification_status         42535 non-null  object
 15  issue_d                     42535 non-null  object
 16  loan_status                 42535 non-null  object
 17  pymnt_plan                  42535 non-null  object
 18  purpose                     42535 non-null  object
 19  title                       42522 non-null  object
 20  zip_code                    42535 non-null  object
 21  addr_state                  42535 non-null  object
 22  dti                         42535 non-null  float64
 23  delinq_2yrs                 42506 non-null  float64
 24  earliest_cr_line            42506 non-null  object
 25  inq_last_6mths              42506 non-null  float64
 26  open_acc                    42506 non-null  float64
 27  pub_rec                     42506 non-null  float64
 28  revol_bal                   42535 non-null  float64
 29  revol_util                  42445 non-null  object
 30  total_acc                   42506 non-null  float64
 31  initial_list_status         42535 non-null  object
 32  out_prncp                   42535 non-null  float64
 33  out_prncp_inv               42535 non-null  float64
 34  total_pymnt                 42535 non-null  float64
 35  total_pymnt_inv             42535 non-null  float64
 36  total_rec_prncp             42535 non-null  float64
 37  total_rec_int               42535 non-null  float64
 38  total_rec_late_fee          42535 non-null  float64
 39  recoveries                  42535 non-null  float64
 40  collection_recovery_fee     42535 non-null  float64
 41  last_pymnt_d                42452 non-null  object
 42  last_pymnt_amnt             42535 non-null  float64
 43  last_credit_pull_d          42531 non-null  object
 44  collections_12_mths_ex_med  42390 non-null  float64
 45  policy_code                 42535 non-null  float64
 46  application_type            42535 non-null  object
 47  acc_now_delinq              42506 non-null  float64
 48  chargeoff_within_12_mths    42390 non-null  float64
 49  delinq_amnt                 42506 non-null  float64
 50  pub_rec_bankruptcies        41170 non-null  float64
 51  tax_liens                   42430 non-null  float64
dtypes: float64(30), object(22)
memory usage: 16.9+ MB

## Replacing Categorical value with Numerical Values

In [80]:
from sklearn.preprocessing import LabelEncoder
df2 = ['loan_amnt','term', 'grade', 'home_ownership','annual_inc','loan_status', 'purpose', 'annual_inc'
       'addr_state']
le = LabelEncoder()
all_new = le.fit_transform(df2)

## Train and Test

In [81]:
from sklearn.model_selection import train_test_split

X = df_new.drop('loan_status',axis=1)
y = df_new['loan_status']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=101)
X_train

,loan_amnt,term,grade,emp_length,home_ownership,annual_inc,purpose,addr_state,delinq_2yrs,inq_last_6mths,open_acc,total_pymnt,total_rec_int,total_rec_late_fee,acc_now_delinq,tax_liens
member_id,,,,,,,,,,,,,,,,
833502.0,759,0,2,1,4,2456,6,44,0.0,1.0,11.0,9150.627527,1150.63,0.0,0.0,0.0
1081535.0,867,1,3,0,4,4834,9,40,0.0,2.0,7.0,5974.440000,2682.92,0.0,0.0,0.0
427199.0,711,0,0,8,0,3882,6,20,0.0,3.0,10.0,7978.921979,878.92,0.0,0.0,0.0
163397.0,566,0,4,0,0,1490,6,5,0.0,3.0,9.0,5141.043823,926.04,15.0,0.0,0.0
802392.0,21,0,2,10,4,1600,3,49,0.0,1.0,8.0,4768.760000,1663.50,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979767.0,716,0,1,4,4,1340,13,27,0.0,2.0,5.0,8356.700054,1156.70,0.0,0.0,0.0
1190852.0,1,0,2,0,0,1858,6,18,0.0,3.0,10.0,12214.917920,2214.92,0.0,0.0,0.0
1039210.0,420,1,1,4,0,4675,6,13,0.0,0.0,9.0,34780.851292,7205.85,0.0,0.0,0.0
866701.0,461,0,0,5,0,1968,6,14,0.0,0.0,4.0,3221.596149,221.60,0.0,0.0,0.0
863025.0,461,0,0,3,4,2433,6,49,0.0,0.0,6.0,3052.450000,52.45,0.0,0.0,0.0

## Predicting Using Random Forest classifier

In [82]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report,confusion_matrix


random = RandomForestClassifier(n_estimators=300)
random.fit(X_train,y_train)

ypred = random.predict(X_test)

print(classification_report(y_test,ypred))
print(confusion_matrix(y_test,ypred))

              precision    recall  f1-score   support

           0       0.97      0.75      0.84      1822
           1       0.96      1.00      0.98     10296

    accuracy                           0.96     12118
   macro avg       0.96      0.87      0.91     12118
weighted avg       0.96      0.96      0.96     12118

[[ 1367   455]
 [   48 10248]]

## Predicting Using Decision Tree Classifier

In [83]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc.fit(X_train,y_train)
pred = dtc.predict(X_test)

print(classification_report(y_test,pred))
print(confusion_matrix(y_test,pred))

              precision    recall  f1-score   support

           0       0.84      0.87      0.85      1822
           1       0.98      0.97      0.97     10296

    accuracy                           0.96     12118
   macro avg       0.91      0.92      0.91     12118
weighted avg       0.96      0.96      0.96     12118

[[ 1577   245]
 [  290 10006]]